@tailwind base;

@tailwind components;

.h1 {
    @apply text-4xl font-bold text-rausch
}

.h2 {
    @apply font-bold text-xl
}
.h4 {
    @apply block uppercase text-gray-600 text-sm font-semibold mb-2
}

.subtitle {
    @apply text-gray-600 text-xs
}

.oneLineContainer {
    @apply flex justify-between items-center
}

.container-content {
    @apply h-full mx-auto py-8
}

.card {
    @apply max-w-3xl bg-white shadow px-10 py-6 rounded cursor-pointer transition-all duration-75
}

.card:hover {
    @apply shadow-lg
}

.btn {
    @apply inline-block px-4 py-2 leading-none border rounded
}
.btn--small {
    @apply text-sm
}
.btn--default {
    @apply text-hof bg-white
}
.btn--default:hover {
    @apply bg-gray-200
}
.btn--primary {
    @apply border-rausch bg-rausch text-white
}
.btn--primary:hover {
    @apply text-rausch bg-gray-100
}
.btn--secondary-border {
    @apply border-babu bg-gray-100
}
.btn--secondary-border:hover {
    @apply bg-babu text-white
}

.link {
    @apply text-rausch border-rausch border-b-2 border-opacity-0
}
.link:hover {
    @apply border-opacity-100
}
.link--nav {
    @apply text-hof mr-4
}

.subtitle {
    @apply text-sm
}

.footer__text {
    @apply text-gray-700 font-semibold block pb-2 text-sm
}
.footer__link:hover {
    @apply text-gray-900
}

.icon {
    @apply bg-white text-gray-900 font-normal p-3 items-center justify-center mr-2 inline-block text-center
}
.icon--big {
    @apply text-xl h-16 w-16 inline-flex
}
.icon--rounded {
    @apply rounded-full outline-none shadow-lg
}

.circle {
    @apply flex mx-auto rounded-full shadow-lg text-center items-center justify-center border-rausch  border-8
}
.circle--big {
    @apply font-semibold text-3xl w-48 h-48
}

.input-text {
    @apply px-5 py-3 bg-gray-300 my-2 rounded
}

.input-text::placeholder {
    @apply text-foggy
}

.textLimiter {
    /*https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.textLimiter--2 {
    -webkit-line-clamp: 2;
}

@tailwind utilities;
