<server description="StackUnderflow">
    <featureManager>
        <feature>webProfile-8.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <webApplication location="StackUnderflow.war" contextRoot="/"/>

    <httpEndpoint host="*" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <library id="MySqlLib">
        <fileset dir="${server.config.dir}" includes="*.jar" />
    </library>

    <dataSource jndiName="jdbc/StackUnderflow">
        <jdbcDriver libraryRef="MySqlLib"/>
        <properties databaseName="AMT_stackunderflow"
                    serverName="192.168.10.10" portNumber="3306"
                    user="homestead" password="secret"/>
    </dataSource>

</server>